 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: rgb(56, 114, 201);
    color: azure;
 }

 h1 {
    text-align: center;
 }

 #message {
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
 }

 #message h2 {
    color: bisque;
 }